@(roomNumber: Int, roomSize: Int, command: String)

@main(roomNumber) {
    <div class="page-header">
        <p id="room-number">Jestes w pokoju: </p>
    </div>
    <div class="page-body">
        <canvas id="myCanvas" style="border:1px solid #000100;"></canvas>
    </div>
    <div class="side-bar">
        <div class="black-points">
            <div class="points-text">
                <h3>CZARNE PUNKTY</h3>
                <p id="blackpoints-para"></p>
            </div>
        </div>
        <div class="button-panel">
            <div class="pass-btn" id="pass-btn">
                <button type="button">Pasuj</button>
            </div>
            <div class="concede-btn" id="concede-btn">
                <button type="button">Poddaj się</button>
            </div>
        </div>
        <div class="white-points">
            <div class="points-text">
                <h3>BIAŁE PUNKTY</h3>
                <p id="whitepoints-para"></p>
            </div>

        </div>
    </div>
    <div id="dialog" class="popup" style="display:none">
        <h1>Legenda:</h1>
         <p>- martwe pola czarne: niebieski</p>
         <p>- martwe pola biale: zolty</p>
         <p>- terytoria czarne: czerwony</p>
         <p>- terytoria biale: rozowy</p>
    </div>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.gameRoomJs(roomNumber, roomSize, command)"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style>
        .side-bar {
            position: absolute;
            right:200px; top:150px; bottom: 150px;
            width: 178px;
            background-color: ;
        }
        .white-points {
            width: 100px;
            height: 100px;
        }
        .popup {
            background-color: floralwhite;
            width: 200px;
            height: 300px;
        }

    </style>
}