@(roomNumber: Int, roomSize: Int, command: String)

@main(roomNumber) {
    <div class="page-header">
        <p id="room-number">Jestes w pokoju: </p>
    </div>
    <div class="page-body">
        <canvas id="myCanvas" style="border:1px solid #000100;"></canvas>
    </div>
    <div class="side-bar">
        <div class="black-points">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b6/Realistic_Go_Stone.svg/768px-Realistic_Go_Stone.svg.png"
            alt="White points" style="width:400px;height:400px;">
            <div class="points-text">
                <h3>czarne punkty</h3>
                <p id="blackpoints-para"></p>
            </div>
        </div>
        <div class="button-panel">
            <div class="pass-btn" id="pass-btn">
                <button type="button">Pasuj</button>
            </div>
            <div class="concede-btn" id="concede-btn">
                <button type="button">Poddaj się</button>
            </div>
        </div>
        <div class="white-points">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/20/Realistic_White_Go_Stone.svg/250px-Realistic_White_Go_Stone.svg.png"
            alt="White points" style="width:400px;height:400px;">
            <div class="points-text">
                <h3>białe punkty</h3>
                <p id="whitepoints-para"></p>
            </div>

        </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="@routes.Application.gameRoomJs(roomNumber, roomSize, command)"></script>
}